Manifest.toml

*.jl.cov
*.jl.*.cov
*.jl.mem
*.so
*.dll
*.dylib

.julia/
packages/
artifacts/
scratch/

*.aux
*.log
*.toc
*.out
*.nav
*.snm
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv

*.bbl
*.blg
*.run.xml
*.bcf

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak
